*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor{
    width: 75%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 98%;
    grid-template-areas:
        "main aside";
    gap: 5%;
}

body{
    display: grid;
    width: 100%;
    background-color:#F3F2F8;
    font-family: Roboto;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "."
    "footer";
}

/******************************PARTE CENTRAL DEL CONTENEDOR******************************/
#main{
    grid-area: main;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: space-between ;
    align-items: center;
    gap: 2em;
    background-color: #dfe1e345;
    box-shadow: 0px 1px 6px #666666;
    padding-bottom: 5em;
    padding-top: 2em;
    
}
#aside{
    grid-area: aside;
    box-shadow: 0px 1px 6px #666666;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: #dfe1e345;
}

/******************************LAS TRES DIVISIONES TIENEN EL MISMO ESTILO******************************/
.division{
    border-radius: 8%;
    box-shadow: 0px 1px 6px #666666;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #F5F5F5;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
/*****************************DIVISIONES INTERIORES DE MIS PREGUNTAS Y MIS FAVORITOS*****************************/
.pregunta, .favorito, .notificaciones{
    border: 1px solid rgb(117, 111, 111);
    box-shadow:inset 0px 0px 2px;
    width: 80%;
    background-color:#c9dbed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .3em;
}

.preferencias{
    width: 100%;
}


.material-symbols-outlined{
    color:rgb(144, 103, 26);
}
.fav{
    color: yellow;
 }
.contenido{
    border: 1px solid grey;
    width: 80%;
    padding: .2em;
}
/******************************FORMULARIO PARA MOSTRAR LOS DATOS*************************************/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%; 
}
.lineaF{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#botones{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:.3em;
    padding: .5em;
}

.boton {
    font-family: Arial;
    color: #000000;
    font-size: 15px;
    padding: 4px;
    text-decoration: none;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    border: solid #1F2F40 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6297CC), to(#43688C));
    background: -moz-linear-gradient(top, #6297CC, #43688C);
    z-index: 9;
   }
.boton:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#43688C), to(#6297CC));
    background: -moz-linear-gradient(top, #999999, #000000)
   }
/**********************************LATERAL ********************************************/


#fotoPerfil{
    width: 50%;
    padding-top: 2em;
}

.avatar{
    width: 100%;
    border-radius: 8%;
    box-shadow: 0px 1px 3px #666666;
    border: 1px solid #1F2F40;
}
   