*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 12% 5% 73% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
.nav {
    grid-area: nav;
    width: 65%;
    margin: 0.5em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    background-color: lightyellow;
    border: 1px solid gray;
    padding: 0.4em;
    margin-top: 0.5em;
}
.cont-prin{
    grid-area: main;
    margin-top: 0.8em;
    width: 100%;
    display: grid;
    grid-template-columns: 17.5% 65% 17.5%;
    grid-template-rows: 100%;
    grid-template-areas: "slide prin pop";
}
.slide{
    grid-area: slide;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide div.filtros{
    margin: 2em;
}
.slide, .popular h4{
    text-align: center;
    
}
.anadir h4{
    margin-bottom: 0.5em;
}
.filtros h4{
    margin-bottom: 0.5em;
}
.filtro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.main{
    grid-area: prin;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular{
    grid-area: pop;
    z-index: -1;
}


.preguntas{
    width: 100%;
    height: 5.5em;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 1px solid grey;
    z-index: -1;
}

.preguntas h3,h5{
    margin-left: 1em;
}

.preguntas img{
    float: right;
    width: 25;
    height: 25;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}