*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background: rgb(228,238,244);
    background: radial-gradient(circle, rgba(228,238,244,1) 0%, rgba(148,187,233,1)100%);
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20%  1fr 12%;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.cont-prin{
    grid-area: main;
    margin-top: 0.8em;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "slide prin pop";
}
.slide{
    grid-area: slide;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide, .popular h4{
    text-align: center;
    margin-bottom: 0.5em;
    
}
.anadir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.anadir h4{
    margin-bottom: 0.5em;
}
.filtros h4{
    margin-bottom: 0.5em;
}
.popular h3{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.filtro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;

    padding: 1em;
    

}
.slide{
    margin: 1em auto auto auto;
}
.main{
    grid-area: prin;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto auto auto;
}
.slide div.filtros{
    margin: 2em;
    width: 80%;
    border-radius: 8%;
    box-shadow: 0px 1px 6px #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dce5ef ;
}

.popular{
    margin: 1em auto;
    grid-area: pop;
    border-radius: 8%;
    box-shadow: 0px 1px 6px #666666;
    width: 80%;
    height: auto;
    background-color: #dce5ef;

}
.popular a{
    text-decoration: none;
    color: #0000EE ;
}
.pregunta {
    border: 1px solid rgb(117, 111, 111);
    box-shadow: inset 0px -1px 2px;
    width: 90%;
    height: 6em;
    background-color:#dce5ef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-anchor: none;
}
.contPregunta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contRespuesta{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 79%;
    height: 100%;
}
.contPreguntaPop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.material-symbols-outlined{
    color:rgb(144, 103, 26);
    font-size: 1.5em;
    
}

.fav{
   color: yellow;
}
.boton {
    font-family: Arial;
    color: #000000;
    font-size: 15px;
    padding: 4px;
    text-decoration: none;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    border: solid #1F2F40 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6297CC), to(#43688C));
    background: -moz-linear-gradient(top, #6297CC, #43688C);
   }
.boton:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#43688C), to(#6297CC));
    background: -moz-linear-gradient(top, #999999, #000000)
   }

input[type="submit"][value="Filtrar"] {
    width: 75%;
    padding: 0.2em;
}

button[name="Enlaces"] {
    padding: 0.5em;
    margin: 1em;
}

button[id="nPregunta"] {
    padding: 0.7em;
}
.tablaPreguntas{
    width: 100%;
    height: 100%;
    margin-top: 0.2em;
}
.tablaPreguntas td.titulo{
    width: 65%;
    padding-left: 0.5em;
}
.tablaPreguntas td.tags{
    width: 35%;
}
.tablaPreguntas td.iconos{
    padding: 0.5em;
}
input, select{
    border:0;
    height: 2em;
    border-bottom: 2px solid grey;
}
input:hover ,select:hover{
    box-shadow:  0px 0px 15px #6297CC;
}
.popular a:hover{
    text-shadow: 0px 0px 15px #6297CC;
}
.popular a:visited{
    color: #0000EE;
}
input[type='submit']{
    box-shadow:  initial;
}
/* Media queries */
@media (max-width:900px) {
    body{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 1fr 12%;
        grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    }
    .cont-prin{
        grid-area: main;
        margin-top: 0.8em;
        width: 100%;
        display: grid;
        grid-template-columns: 30% 65%;
        grid-template-rows: 100%;
        grid-template-areas: "slide prin";
    }
    .popular{
       display: none;
    }
    .slide{
        grid-area: slide;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slide div.filtros{
        margin: 0em;
        margin-top: 2em;
    }
    .filtro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0.5em;
    }
    .filtro > input,select{
        width: 100%;
    }
       
 
}
@media screen and (max-width:500px) {
    /*tags display none*/
    .tablaPreguntas td.tags{
        display: none;
    }
    .tablaPreguntas td.titulo{
        width: auto;
    }
    input[type="submit"][value="Filtrar"] {
        text-indent: -9999px;
    }    
}
.preguntaPop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contPreguntaPop > h4 {
    text-align: justify;
    margin-right: 2em;
}

.cantFav > span{
    border: #000000 1px solid;
    padding: 0.3em;
    border-radius: 50%;
}