* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Roboto;
    font-size: 0.813em;
    color: black;
}

header {
    grid-area: header;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #000;
    border-top: 0px;
    background-image: url(/img/header.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.bin {
    margin: auto;
    color: white;
}

.logo {
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.imglogo {
    width: 100%;
    height: 50%;
}

.imagenPerfil {
    background: url(/img/icon1.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
}
.despleglabe{
    margin-right: 5em;
    align-items: center;
}
.dropdown {
    width: 50%;
    display: inline-block;
    position: relative;
    margin-right: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-right: 5em;
    width: 7em;
    overflow: auto;
    background-color: #54cfe2e1;
    border-radius: 5px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 0.5em;
    text-decoration: none;
    font-size: bold;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.notification {
    /*background: url('/img/noti.png');*/
    background-color: white;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.notification span {
    cursor: pointer;
    appearance: none;
}
  
.material-symbols-outlined {
    color: black;
}
  
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.notification .box {
    width: 200px;
    height: 250px;
    background: grey;
    position: absolute;
    border-radius: 20px;
    top: 30px;
    left: -210px;
    /*Animacion guapa*/
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 0.4s;
    /*Final*/
}

.notification span.activo ~ .box {
    clip-path: circle(141.4% at 100% 0%);
}

.notification .heading {
    background: yellow;
    color: black;
    width: 95%;
    height: 40px;
    margin-top: 0.2em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
}

.msg {
    margin-top: 0.4em auto 0 auto;
    width: 85%;
    height: 20px;
    overflow-y: auto; /*Nos aparece una barra para subir y bajar*/
}

.msg p{
    margin-bottom: 0.4em;
    color: rgb(43, 43, 43);
}

body footer{
    grid-area: footer;
    display:  flex;
    min-height: 3em;
    flex-direction: column;
    background-color: #0c0c1bc2;
    justify-content: center;
    height: 10em;
}

footer div.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
