*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#F3F2F8  ;
}
#contenedor{
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "head head"
    "main aside"
    "main aside"
    "main aside"
    "foot foot";
    gap: 2em;
    width: 90%;
}

#main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: space-between ;
    align-items: center;
    gap: 2em;
    background-color: #dfe1e345;
    box-shadow: 0px 1px 6px #666666;
}

#aside{
    grid-area: aside;
    border: 1px solid black;
    width: 200px;
    height: 1107px;
}

head{
    grid-area: head;
}

footer{
    grid-area: foot;
}

.division{
    border-radius: 12%;
    box-shadow: 0px 1px 6px #666666;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #F5F5F5;
    gap: 1em;
    padding-top: 2em;

}

.lineaF{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    gap:2em;
}
#botones{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:.3em;
    padding: .5em;
}

.volver{
    align-self: flex-end;
    margin-right: 5em;
    margin-bottom:2em;
   
}
.boton {
    font-family: Arial;
    color: #000000;
    font-size: 15px;
    padding: 4px;
    text-decoration: none;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    border: solid #1F2F40 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6297CC), to(#43688C));
    background: -moz-linear-gradient(top, #6297CC, #43688C);
   }
   .boton:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#43688C), to(#6297CC));
    background: -moz-linear-gradient(top, #999999, #000000)
   }
   